@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Dancing+Script&family=Source+Sans+Pro&display=swap');

*,*::before,*::after
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root
{
    --main-font:'Source Sans Pro', sans-serif;
    --sec-font:'Dancing Script', cursive;
    --body-font:'Cabin', sans-serif;
    --main-font-colour:#212635;
    --sec-font-colour:#970C10;
    --body-font-colour:#380f05;
}
body
{
    font-family: var(--body-font);
    font-size:10px;
    color:var(--body-font-colour);
    scroll-behavior:smooth;
    overflow-x: hidden;
}
section
{
    padding:3.9rem 0;
    overflow: hidden;
}
img
{
    width:100%;
    max-width: 100%;
    margin-top:0.5rem;
}
p
{
    font-size:1.2rem;
}
.logo
{
    font-size: 2.2rem;
    color:#B8D5E6;
}
a
{
    text-decoration: none;
}
.container
{
    width:100%;
    max-width: 122.5rem;
    margin:0 auto;
    padding:0 1.4rem;
}

/*START*/
header
{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:1;
    background-color:var(--main-font-colour);
    margin-bottom:3.9rem;
}
.nav
{
    height:3rem;
    display:flex;
}

.menu-toggle
{
    color:#B8D5E6;
    font-size:1.2rem;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right:2.5rem;
    cursor:pointer;
    z-index:1500;
}
.fa-times
{
    display:none;
}

.nav-list
{
    list-style:none;
    position:fixed;
    top:0;
    left:0;
    width:80%;
    height:100vh;
    background-color:var(--main-font-colour);
    padding:4.4rem;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    z-index:1250;
    transform: translateX(-100%);
    transition:transform .5s;
}
.nav::before
{
    content:'';
    position:fixed;
    top:0;
    left:0;
    width:100vh;
    height:100vh;
    background-color:rgba(0,0,0,0.4);
    z-index:1000;
    opacity:0;
    transform:scale(0);
    transition:opacity .5s;
}

.open .fa-times
{
    display:block;
}

.open .fa-bars
{
    display:none;
}

.open .nav-list
{
    transform:translateX(0);
}

.open .nav::before
{
    opacity:1;
    transform: scale(1);
}

.nav-link
{
    display:block;
    color:#B8D5E6;
    text-transform: uppercase;
    font-size:1.2rem;
    letter-spacing:2px;
    margin-right:-2px;
    transition:color.5s;
}
.nav-link:hover
{
    color:#970C10;
}
.active
{
    color:var(--sec-font-colour);
}
.welcome,.about,.packages,.gallery,.contact-header
{
    width:100%;
    max-width:100%;
    height:100vh;
    background-image:url(photos/cover-photo.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display:flex;
    align-items:center;
    text-align:center;
}
.first-letter
{
    font-size:3.2rem;  
}
.sub-heading
{
    font-size:2.2rem;
    font-family:var(--sec-font);
    color:var(--sec-font-colour);
    font-weight:100;
    letter-spacing:0.1rem;
    opacity:0;
    animation:fadeUp 0.5s forwards;
    animation-delay: .5s;
}
.headline
{
    font-size:1.2rem;
    font-family:var(--main-font);
    text-transform:uppercase;
    letter-spacing:.2rem;
    color:#041038; 
    animation:scale 0.5s forwards;
}
.separator
{
    display:flex;
    align-items: center;
    justify-content: center;
}
.single-animation
{
    opacity:0;
    animation:fadeDown .5s forwards;
    animation-delay:1.5s;
}
.line
{
    width:100%;
    max-width:7rem;
    height:0.25rem;
    background-color:#041038;
    position:relative;
    opacity:0;
    animation:grow 2s forwards;
    animation-delay:0.9s;
}

.line-right::before,.line-left::before
{
    content:'';
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    border:0.4rem solid transparent;
    opacity:0;
    animation:grow .5s forwards;
    animation-delay:1.2s;
}
.line-right::before
{
    border-right-color:#041038;
    right:0;
}
.line-left::before
{
    border-left-color:#041038;
    left:0;
}
.mountain
{
    font-size:0.8rem;
    color:var(--sec-font-colour);
    margin:0 0.6rem;
}
.btn
{
    display:inline-block;
    text-decoration: uppercase;
    letter-spacing: 2px;
    margin-right:-2px;
}
.landing-button
{
    font-size:0.7rem;
    margin-top:0.4rem;
    color:var(--body-font-color);
}
.ct-btn,.km-btn
{
    background-color: rgba(255,255,255,0.4);
    padding:0.6rem 1.2rem;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.4);
    color:var(--main-font-colour);
    transition:background-color .5s;
}
.ct-btn
{
    margin-left:0.4rem;
}
.km-btn
{
    margin-right:0.4rem;
}
.ct-btn:hover,.km-btn:hover,.ct-btn:focus,.km-btn:focus
{
   background-color: var(--sec-font-colour);
   color:#EEF5FB;
   font-weight: bold;
}
/*WELCOME-END*/

.global-headline
{
    text-align:center;
    margin-top:1rem;*/
}
.global-headline .mountain
{
    color:var(--body-font-colour);
    margin:1.4rem 0;
}
.heading-style
{
    letter-spacing: .5rem;
}
.company-info
{
    text-align:center;
}
.company-desc
{
    margin-bottom:3rem;
}
.company-desc p
{
    line-height:1.6;
    margin-bottom:2.4rem;
}
.body-btn
{
    font-size:1.5rem;
    color:var(--sec-font-colour);
    font-family:var(--sec-font);
    position:relative;
    transition:color .5s;
}
.body-btn::before
{
    content:'';
    position: absolute;
    left:0;
    bottom:-3px;
    width:100%;
    height:2px;
    background-color:var(--sec-font-colour);
    transition: background-color .5s;
}
.body-btn:hover,.body-btn:focus
{
    color:var(--main-font-colour);
}
.body-btn:hover::before,.body-btn:focus::before
{
    background-color:var(--main-font-colour);
}
/*DISCOVER PAGE -END*/

.adventures
{
    background-image: url("photos/adventure.jpg");
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
}
.light
{
    color:white;
}
.between
{
    min-height:70vh;
    display:flex;
    align-items: center;  
}
/*ADVENTURES -END*/

.image-group
{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-gap:1.1rem;
}

.treks .company-desc
{
    padding-top: 3.9rem;
    margin-bottom:0;
}
/*TREKS -END*/
.experience
{
    background-image: url("photos/experience.jpg");
    background-size:cover;
    background-position: center center;
}
/*EXPERIENCE -END*/

footer
{
    padding:3.4rem 0 1rem 0;
    background-color:var(--main-font-colour);
    color:#B8D5E6;
    position:relative;
    font-size:1rem;
}
.top
{
    width:5rem;
    height:5rem;
    background-color: var(--main-font-colour);
    position:absolute;
    top:-2rem;
    left:50%;
    transform:translateX(-50%);
    border-radius:50%;
    text-align:center;
}
.top i
{
    display:block;
    color:#B8D5E6;
    font-size:1.2rem;
    padding:0.8rem;
    animation: up 2s infinite;
}
.content
{
    overflow:hidden;
}

.content h4
{
    text-transform:uppercase;
    font-weight:100;
    letter-spacing:3px;
    margin-bottom:1rem;
}
.content .content-about,.content .content-contact,.content .content-links
{
    margin-bottom:3.4rem;
}
.content-about p
{
    line-height:2;
    font-size: 1rem;
}
.content-contact ul,.content-links ul
{
    list-style: none;
    line-height: 2;
}
.link-guide a
{
    color:#B8D5E6;
}
.link-guide a:hover,.link-guide a:focus
{
    color:var(--sec-font-colour);
}
.content-divider-1,.content-divider-2
{
    border-bottom: 1px solid #B8D5E6;
}
.content-divider-2
{
    margin-top:3.4rem;
}
.social-icons
{
    list-style:none;
    margin-bottom:3.4rem;
    display:flex;
}
.social-icons i
{
    font-size:1rem;
    color:#B8D5E6;
    padding:0.1rem 2rem 0.1rem 0;
    opacity:0.5;
    transition:color .5s;
}
.social-icons i:hover,.social-icons i:focus
{
    color:var(--sec-font-colour);
}
.newsletter-form
{
    width:100%;
    position:relative;
    margin-bottom:3.4rem;
}
.newsletter-input
{
    width:100%;
    max-width:20rem;
    padding:1rem;
    border-radius:.5rem;
}
.newsletter-input:focus
{
    outline:none;
}
.newsletter-btn
{
    background-color:transparent;
    border:none;
    color:var(--main-font-color);
    cursor:pointer;
    font-size:1.2rem;
    position:absolute;
    top:50%;
    left:18rem;
    transform:translateY(-50%);
    margin-right:20.4rem;
}
.content-divider-3
{
    font-size:1.2rem;
    margin-top:1.2rem;
    display:flex;
    justify-content: center;
    letter-spacing: 0.4rem;
    font-family: var(--sec-font);
}
/*FOOTER -ENDS*/

/*media queries*/

@media screen and (min-width: 900px)
{
    section
    {
        padding:4.9rem;
    }
    .menu-toggle
    {
        display:none;
    }
    .nav
    {
        justify-content: space-between;
    }
    .nav-list
    {
        position:initial;
        width:initial;
        height:initial;
        background-color: transparent;
        padding:0.5rem;
        justify-content: initial;
        flex-direction: row;
        transform:initial;
        transition:initial;
    }
    .nav-item
    {
        margin:0 0.6rem;
        bottom:none;
    }
    .nav-item:last-child
    {
        margin-right:0;
    }
    .nav-link
    {
        color:#B8D5E6;
        font-size:1.3rem; 
    }
    .active
    {
        color:var(--sec-font-colour);
    }
    .sub-heading
    {
        font-size:3rem;
    }
    .first-letter
    {
        font-size:5rem;
    }
    .headline
    {
        font-size:1.7rem;
        letter-spacing:.6rem;
        margin-left:1.5%;
    }
    .line
    {
        max-width:13.4rem;
    }
    .company-info
    {
        display:flex;
        align-items:center;
    }
    .company-info >div
    {
        flex:1;
    }
    .padding-right
    {
        padding-right: 3rem;
    }
    .treks .image-group
    {
        padding-top:5rem;
    }
    footer 
    {
        padding:1rem 0 1rem 0;
    }
    .content
    {
        max-width:78rem;
        margin:auto;
    }
    .content-divider-1
    {
        display:flex;
        justify-content: space-evenly;
        align-items:center;
    }
    .content-divider-1 h4
    {
        letter-spacing: 0.7rem;
    }
    .content-divider-1 .content-about,.content-divider-1 .content-contact,.content-divider-1 .content-links
    {
        width:26rem; 
        height:13rem;
        padding:2rem;
        text-align: center;
    }
    .content-divider-2
    {
        display:flex;
        justify-content: space-around;
    }
    .newsletter-input
    {
       width: 50rem;
    }
    .social-icons i
    {
        opacity:1;
    }
}

/*ANIMATION*/
@keyframes fadeUp
{
    0%
    {
        transform:translateY(4rem);
    }
    100%
    {
        opacity:1;
        transform:translateY(0);
    }
}
@keyframes scale
{
    0%
    {
        transform:scale(2);
    }
    100%
    {
        opacity:1;
        transform:scale(1);
    }
}
@keyframes grow
{
    0%
    {
        width:0;
    }
    100%
    {
        opacity:1;
        width:100%;
    }
}
@keyframes fadeDown
{
    0%
    {
        transform:translateY(-1rem);
    }
    100%
    {
        opacity:1;
        transform:translateY(0);
    }
}
@keyframes up
{
    0%
    {
        opacity:0;
    }
    50%
    {
        opacity:1;
    }
    100%
    {
        opacity:0;
        transform:translateY(-0.6rem);
    }
}

/*PAGES*/

/*ABOUT*/
.about
{
    background-image: url(photos/about.jpg);
    height:70vh;
}
.about .line
{
    max-width:4rem;
}
.explore p,.teams p
{
    padding-top:3.9rem;
}
.clients
{
    background-image: url("photos/client.jpg");
    background-size:cover;
    background-position: center center;
}

.review-container {
    position: relative;
    margin: auto;
  }
  
  .myReviews {
    display: none;
  }
  .myReviews img
  {
      height:300px;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #B8D5E6;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .text,.text-2 {
    color:white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .text-2
  {
      color:black;
      font-weight: bold;
  }
  .dot 
  {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active-1,.dot:hover {
    background-color: #717171;
  }
  .fade 
  {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade 
  {
    from {opacity: .4}
    to {opacity: 1}
  }

  .team 
  {
      background-image:url(photos/team.jpg) ;
      background-position: center center;
      background-size:cover;
  }
  .teams img
  {
      cursor: pointer;
  }

@media screen and (min-width: 900px)
{
    .padding-left
    {
        padding-left: 3rem;
    }
    .review-container
    {
        width:60%;
        height:auto;
    }
    .about .line
    {
        max-width:7.5rem;
    }
}
/*TREKS*/

.packages
{
    background-image: url(photos/packages.jpg);
    height:70vh;
}
.packages .line
{
    max-width:2.7rem ;
}
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 2rem -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 50%;
      display: block;
      margin-bottom: 20px;
    }
  }
  .trek-package
  {
      padding-bottom:0;
  }
  .packages .line
  {
      max-width:2.3rem;
  }
  @media screen and (min-width: 900px) 
  {
    .packages .line
    {
        max-width:5.3rem;
    }
  }
  .card img
  {
      cursor: pointer;
  }
  .card img:hover
  {
    animation:fadeDown 0.5s forwards;
  }

  .card i
  {
      font-size:2rem;
      padding:1rem;
      color:var(--sec-font-colour);
  }
  .feature-text h2
  {
      margin-bottom:1rem;
      color:var(--main-font-colour);
      font-size: 1.2rem;
      text-transform:uppercase;
  }

  .book
  {
      background-image: url("photos/book.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      margin-bottom:3.9rem;
  }

  /*GALLERY*/
  .gallery
  {
      height: 70vh;
      background-image:url("photos/gallery.jpg");
      background-size: cover;
      background-position: center center;
  }
  .photo-row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 0.25rem;
  }
  .photo-grid
  {
      padding-bottom: 0;
  }
  
  /* Create four equal columns that sits next to each other */
  .photo-column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 0.25rem;
  }
  
  .photo-column img {
    margin-top:1rem;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .photo-column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
.gallery .line
{
    max-width:4rem;
}
@media screen and (min-width: 900px) 
{
    .gallery .line
{
    max-width:7rem;
}
}
/*CONTACT*/

.contact-header
{
    height:70vh;
    background-image: url("photos/contact-header.jpeg");
}
.contact-header .line
{
    max-width:5rem;
}

@media screen and (min-width: 900px) 
{
    .contact-header .line
    {
        max-width:9.5rem;
    }
}
.contact .company-info .contact-data,.contact .company-info .contact-form
{
    text-align:left;
}
.contact .company-info .contact-data p
{
    padding-bottom:2rem;
    border-bottom:1px solid var(--body-font-colour);
}
.contact-form input[type=text],input[type=email], textarea
{
    width: 100%;
    padding:0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
.contact-form input:focus
{
    outline:none;
}
.contact-form label 
{
    padding:0.5rem 0.5rem 0.5rem 0;
    display: inline-block;
    font-size:1.2rem;
}
  input[type=submit] {
    background-color: var(--sec-font-colour);
    color:white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
  }
  .col-25 {
    float: left;
    width: 25%;
    margin-top:2rem;
  }
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 2rem;
  }
  .contact-form .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  #map 
  {
    width: 100%;
    height: 400px;
    background-color: grey;
  }
  .contact
  {
      padding-bottom:0;
  }
  .let-us-meet
  {
    background-image: url("photos/meet.webp");
    background-size: cover;
    background-position: center;
}
.connect-social
    {
      background-image: url("photos/connect-social.jpeg");
      background-size: cover;
      margin-bottom:3.9rem;
    }
.connect-social .social-icons
{
    display:flex;
    justify-content: center;
    margin-top:2rem;
}
.connect-social .social-icons i
{
    font-size:2rem;
    color:white;
    padding:1.2rem;
    opacity:1;
    transition:color .5s;
}
.connect-social .social-icons i:hover
{
    color:var(--sec-font-colour);
}